<%- include('partials/header'); -%>
<header>

    <div class="vectorContainer">

        <div class="vector">
            <h2>SALUTE THE BOSS</h2>
            <img src="../img/admin.jpg" alt="">
        </div>

        <div class="headings">
            <h4></h4>
            <ul>
                <li><a href="/home" class="btn">Go Back Home</a></li>
                <li><a href="/logout" class="btn">Logout</a></li>
            </ul>


        </div>
    </div>

</header>

<%- include('partials/footer'); -%>