<%- include('partials/header'); -%>
<header>
    <div class="vectorContainer">

        <div class="vector">
            <img src="../img/notpass.jpg" alt="">
            <p>
                YOU SHALL NOT PASS
            </p>
        </div>

        <div class="headings">
            <ul>
                <li><a href="/home" class="btn">Go Back Home!</a></li>
            </ul>


        </div>
    </div>
</header>

<%- include('partials/footer'); -%>