<%- include('partials/header'); -%>
<header>
    <div class="vectorContainer">

        <div class="vector">
            <img src="../img/hoophemserim.jpg" alt="">
            <p>
                Can You Please Login ? Thank U
            </p>
        </div>

        <div class="headings">
            <ul>
                <li><a href="/sign-up" class="btn">Sign Up</a></li>
                <li><a href="/login" class="btn">Login</a></li> 
            </ul>


        </div>
    </div>
</header>

<%- include('partials/footer'); -%>