<%- include('partials/header'); -%>
<header>
    <div class="vectorContainer">

        <div class="vector">
            <img src="../img/error.jpg" alt="">
            <p>
                Some Error Happened, but IDK what
            </p>
        </div>

        <div class="headings">
            <ul>
                <li><a href="/login" class="btn">Go To Home Page</a></li>
            </ul>


        </div>
    </div>
</header>

<%- include('partials/footer'); -%>