<%- include('partials/header'); -%>

<header>


  <div class="vectorContainer">
    <div class="vector">
      <img src="../img/sabriabi.jpg" alt="">
    </div>

    <div class="headings">
      <h2>Welcome to</h2>
      <h3>Gusto Remote Team Work 2</h3>
      <ul>
        <li><a href="/login" class="btn">Login</a></li>
        <li><a href="/sign-up" class="btn">Sign Up</a></li>
      </ul>


    </div>
  </div>



</header>

<%- include('partials/footer'); -%>