<%- include('partials/header'); -%>
<header>

    <div class="vectorContainer">

        <div class="vector">
            <h2>Welcome Back Boss</h2>
            <img src="../img/welcome.png" alt="">
        </div>

        <div class="headings">
            <h4>Choose Your Path</h4>
            <ul>
                <li><a href="/admin" class="btn">Go To Admin</a></li>
                <li><a href="/users" class="btn">Go To Member</a></li>
            </ul>


        </div>
    </div>

</header>

<%- include('partials/footer'); -%>